{% extends "::base.html.twig" %}

{% block title %}AppBundle:CoteLivreurControleur:listerCommande{% endblock %}

{% block body %}
    <h1> Liste des Commandes du Livreur </h1>

    <table>
        <tr>
            <th>Client</th>
            <th>Date de commande</th>
            <th>Adresse de Livraison</th>
            <th>Etat</th>
        </tr>
        {%for cmdAct in commandesLiv %}
            <tr>
                <td>{{cmdAct.client}}</td>
                <td>{{cmdAct.dateCommande | date}}</td>
                <td>{{cmdAct.adresseLivraison}}</td>
                <td>{{cmdAct.etat}}</td>
            </tr>
        {% endfor %}
    </table>
    
    

{% endblock %}
