{% extends "::base.html.twig" %}

{% block title %}AppBundle:InscriptionClient:inscriptionClient{% endblock %}

{% block body %}
<h1>Welcome to the InscriptionClient:inscriptionClient page</h1>

<div class="well">
{{ form(monForm) }}
</div>  
{% endblock %}
