{% extends "::base.html.twig" %}

{% block title %}AppBundle:CoteClientControleur:creerCommande{% endblock %}

{% block body %}
<h1>Welcome to the CoteClientControleur:creerCommande page</h1>

{% endblock %}
