{% extends "::base.html.twig" %}

{% block title %}AppBundle:Connection:Connection{% endblock %}

{% block body %}
    <h1>Bienvenue, <h1>
            <h2>Vous êtes dans l'espace de connexion des livreurs</h2>
            {{form(monForm)}}
        {% endblock %}
        
